<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Battleship</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script>
        // obtain game variables from Flask using Jinja templating
        const aiBoard = {{ ai_board | tojson }};
        const playerBoard = {{ player_board | tojson }};
        const shipPlacements = {{ ship_placements | tojson }};
        const playerStats = {{ player_stats | tojson }};
        const aiStats = {{ ai_stats | tojson }};
        let winner = '{{ winner | string }}';
        let playerTurn = {{ player_turn | tojson }};
    </script>

    <script src="../static/scripts/create_board.js" defer></script>
    <script src="../static/scripts/game_board.js" defer></script>
</head>
<body>
<main>
    <h2 id="turn-indicator"></h2>
    <div id="main-container">
        <div id="ai-board-container"></div>
        <div id="player-board-container"></div>
    </div>
    <div class="popup">
        <div id="game-over-message-container">
            <h2 id="game-over-message">Game Over</h2>
            <h3 id="game-over-submessage">You Win!</h3>
            <table id="game-over-stats">
                <tr>
                    <th class="column-header"></th>
                    <th class="row-header">You</th>
                    <th class="row-header">AI</th>
                </tr>
                <tr>
                    <th class="column-header">Misses</th>
                    <td id="player-misses">0</td>
                    <td id="ai-misses">0</td>
                </tr>
                <tr>
                    <th class="column-header">Hits</th>
                    <td id="player-hits">0</td>
                    <td id="ai-hits">0</td>
                </tr>
                <tr>
                    <th class="column-header">Total</th>
                    <td id="player-total">0</td>
                    <td id="ai-total">0</td>
                </tr>
            </table>
            <div id="replay-button" onclick="window.open('/redirect', '_self')">Play Again</div>
        </div>
    </div>
</main>
</body>
</html>