<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Battleship</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<main>
    <h1 id="title">Battleship</h1>
    <br>
    <a id="play-button" href="/redirect">Play</a>
</main>

<script>
const playButtonElement = document.getElementById('play-button');

// Event Listeners
playButtonElement.addEventListener('mousedown', () => {
    playButtonElement.style.backgroundColor = '#dddd2c';
});

playButtonElement.addEventListener('mouseup', () => {
    playButtonElement.style.backgroundColor = '#eeee2e';
});

playButtonElement.addEventListener('mouseleave', () => {
    playButtonElement.style.backgroundColor = '#eeee2e';
});
</script>
</body>
</html>