<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Battleship</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/scripts/create_board.js" defer></script>
    <script src="../static/scripts/set_ship.js" defer></script>
</head>
<body>
<main>
    <div>
        <div id="game-container"></div>
        <div id="info-panel"> 
            <div id="control-hints">
                <img src="../static/images/left_click.png" alt="Left Click: " class="hint-icon">
                <span>Place Ship</span>
                <img src="../static/images/right_click.png" alt="Right Click: " class="hint-icon">
                <span>Rotate Ship</span>
            </div>
            <div id="buttons">
                <div id="back-button">Back</div>
                <div id="start-button">Start Game</div>
            </div>
        </div>
    </div>
</main>
</body>
</html>